<%- include("partials/header"); -%>
<div class="row">
<% for(var i=0;i<posts.length;i++){ %>
<div class="col-lg-6 mb-4">
           <div class="card h-100">
             <a href="/post/<%=posts[i].id%>"><img class="card-img-top img-responsive"  src="https://www.sqlbi.com/okviz/wp-content/uploads/sites/261/2019/01/chart-placeholder-icon.svg" alt=""></a>
             <div class="card-body">
               <h4 class="card-title" style="color:#eeeeee">
                 <a href="/post/<%=posts[i].id%>"><%=posts[i].title%></a>

                 <% var str = posts[i].body.substr(0,100)%>
               </h4>
               <h5 class="card-title text-light">by <a href="#"><%=posts[i].username%></a></h5>
               <p class="card-text"><%= str %><a class="readMore" href="/post/<%=posts[i].id%>">&nbsp;&nbsp;&nbsp;...Read More</a></p>
             </div>
           </div>
         </div>
<% } %>
</div>


<%- include("partials/footer"); -%>
